.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}

body {
    background: #111;
    overflow-x: hidden;
}

.header_btn {
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #29d9d5;
    border: .2rem solid #29d9d5;
    border-radius: 5rem;
    cursor: pointer;
    background: none;
}

.header_btn:hover {
    background: #29d9d5;
    color: #111;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
}

#menu-btn {
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

ul {
    color: rgb(14, 13, 13);
    display: flex;
    align-items: center;
    column-gap: 20px;
}

li a {
    font-size: 1.7rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #aaa;
}

li a:hover {
    color: #29d9d5;
}

.logo {
    font-size: 2.5rem;
    color: #fff;
    font-weight: bolder;
}

.fa-paper-plane {
    color: #29d9d5;
    padding-right: .5rem;
}

/* home_section */

.home_section {
    margin: 0 auto;
    margin-top: 9rem;
    width: 90%;
    border-radius: 1rem;
    background-image: url(../images/francesco-ungaro-9XnN2hQ_zVE-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding-bottom: 5rem;
}

.home_content,
.about_content,
.destination_content {
    text-align: center;
}

.home_span {
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-style: normal;
    color: #fff;
    font-size: 4vw;
    display: block;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 6vw;
    color: #fff;
}

.home_txt {
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-style: normal;
    max-width: 60rem;
    margin: 1rem auto;
    font-size: 10px;
    color: #aaa;
    line-height: 2rem;
}

.home_btn {
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #29d9d5;
    border: .2rem solid #29d9d5;
    border-radius: 5rem;
    cursor: pointer;
    background: none;
}

.home_btn:hover {
    background: #29d9d5;
    color: #111;
}

.home_content {
    transition: transform 1s ease;
    transform: translateX(-100%);
}

.home_section {
    transition: background-position 1s ease;
    background-position: center right;
}


/* form_section */

.book-form {
    width: 80%;
    margin: 1rem auto;
    margin-top: -5rem;
    background: #222;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(17, 17, 17, .3);
    padding: 3rem 2rem;
}

form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.inputBox {
    flex: 1 1 25rem;
}

span {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #aaa;
}

input {
    width: 100%;
    padding: 1.2rem 1.4rem;
    border-radius: 5rem;
    border: .2rem solid #29d9d5;
    font-size: 1.6rem;
    color: #aaa;
    text-transform: none;
    background: none;
    margin-top: 1rem;
}

.form_btn {
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #29d9d5;
    border: .2rem solid #29d9d5;
    border-radius: 5rem;
    cursor: pointer;
    background: none;
}

.form_btn:hover {
    background: #29d9d5;
    color: #111;
}

.form_btn {
    flex: 1 1 15rem;
}

/* about_section */

.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 5rem;
    padding-left: 75px;
    padding-right: 75px;
}

.video-container {
    flex: 1 1 42rem;
}

.video {
    border-radius: 1rem;
    width: 100%;
}

.home_content,
.about_content,
.destination_content {
    flex: 1 1 42rem;
    margin-bottom: 5rem;
}

.span_about {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #29d9d5;
    font-size: 2rem;
    display: flex;
}

.about_title {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-size: 4rem;
    margin-top: .5rem;
}

.about_txt {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 60rem;
    padding: 1rem 0;
    font-size: 10px;
    color: #aaa;
    line-height: 2rem;
}

.about_btn {
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #29d9d5;
    border: .2rem solid #29d9d5;
    border-radius: 5rem;
    cursor: pointer;
    background: none;
}

.about_btn:hover {
    background: #29d9d5;
    color: #111;
}

.controls {
    text-align: center;
    padding: 2rem 0;
}

.control-btn {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: .7rem;
}

.control-btn:hover {
    background: #29d9d5;
}

.video-container.show,
.about_content.show {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease, transform 1s ease;
}

.video-container,
.about_content {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

/* section_destination */

.heading {
    text-align: center;
    margin-bottom: 2rem;
}

.destination_span {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #29d9d5;
    font-size: 2rem;
}

.destination_title {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    color: #fff;
}

/* .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}

.box {
    width: calc(100% - 40px); 
    max-width: 300px; 
    background-color: #2b232362;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    opacity: 0; 
    transform: translateX(100%); 
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.visible {
    opacity: 1; 
    transform: translateX(0); 
}

.box:hover {
    transform: scale(1.05);
}

.image-container left-slide, 
.image-container right-slide img {
    width: 100%;
    height: 200px;
}

.image-container left-slide, 
.image-container right-slide img:hover {
    transform: scale(1.1);
}

.destination_content {
    padding: 20px;
}

.destination_titlle {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 15px;
    color: #fff;
}

.destination_txt {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 2.5rem;
    color: #a09999;
    margin-bottom: 15px;
}

.dest_read {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #29d9d5;
    font-size: 2rem;
}

.dest_read:hover {
    padding-left: 1rem;
}

.fa-angles-right {
    font-size: 2rem;
    color: #29d9d5;
}

.read-more:hover {
    background: #29d9d5;
    color: #111;
}

.right-slide {
    animation: slideRight 1s ease forwards;
    opacity: 0;
}

.left-slide {
    animation: slideLeft 1s ease forwards;
    opacity: 0;
}

@keyframes slideRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
} */

.container {
    max-width: 1440px;
    width: 95%;
    padding: 0 10px;
}

.slider-wrapper {
    position: relative;
}

.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    border: none;
    outline: none;
    background: #000;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
    background: #444;
}

.slider-wrapper .slide-button#prev-slide {
    left: -20px;
    display: none;
}

.slider-wrapper .slide-button#next-slide {
    right: -20px;
}

.slider-wrapper .image-list {
    display: grid;
    gap: 18px;
    font-size: 0;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.box:hover {
    transform: scale(1.05);
}

.image-container left-slide,
.image-container right-slide img {
    width: 100%;
    height: 200px;
}

.image-container left-slide,
.image-container right-slide img:hover {
    transform: scale(1.1);
}

.destination_content {
    padding: 20px;
}

.destination_titlle {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 15px;
    color: #fff;
}

.destination_txt {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 2.5rem;
    color: #a09999;
    margin-bottom: 15px;
}

.dest_read {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #29d9d5;
    font-size: 2rem;
}

.dest_read:hover {
    padding-left: 1rem;
}

.fa-angles-right {
    font-size: 2rem;
    color: #29d9d5;
}

.read-more:hover {
    background: #29d9d5;
    color: #111;
}

.right-slide {
    animation: slideRight 1s ease forwards;
    opacity: 0;
}

.left-slide {
    animation: slideLeft 1s ease forwards;
    opacity: 0;
}

@keyframes slideRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.box {
    width: calc(100% - 40px);
    max-width: 300px;
    background-color: #2b232362;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: opacity 0.5s ease, transform 0.5s ease;
    margin-bottom: 1rem;
    break-inside: avoid;
}


.box-container {
    display: flex;
    overflow-x: hidden;
    width: 100%;
}

.box {
    flex: 0 0 auto;
    width: 100%;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.box {
    background: #222;
    border-radius: 1rem;
    padding: 3rem;
    text-align: center;
    border: .2rem solid #111;
}

.box:hover {
    border: .2rem solid #29d9d5;
}

.slider-wrapper .image-list .box {
    width: 325px;
    height: 400px;
    object-fit: cover;
}

.container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    height: 2px;
    width: 100%;
    background: #ccc;
    position: relative;
    border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    height: 100%;
    width: 50%;
    background: #000;
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

/* section_services */

.services {
    margin-top: 50px;
}

.services_span {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #29d9d5;
    font-size: 2rem;
}

.services_title {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    color: #fff;
}

/* .services .box-container {
    .box {
        background: #222;
        border-radius: 1rem;
        padding: 3rem;
        text-align: center;
        border: .2rem solid #111;
    }

    .box:hover {
        border: .2rem solid #29d9d5;
    }

    i {
        font-size: 5rem;
        color: #29d9d5;
        margin-bottom: 2rem;
    }

    .services_world {
        font-size: 2rem;
        color: #fff;
    }

    .services_txt {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding: 1rem 0;
        font-size: 1.4rem;
        color: #aaa;
        line-height: 2;
    }
}

.box-container {
    display: flex;
    overflow-x: hidden;
    width: 100%;
}

.box {
    flex: 0 0 auto;
    width: 100%;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.service_button {
    display: flex;
    justify-content: space-between;
}

.slide-buttons {
    margin-top: 10px;
    top: 50%;
    height: 50px;
    width: 70px;
    color: #fff;
    border: none;
    outline: none;
    background: #000;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
} */

.ser-box-container {
    display: flex;
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

.ser-box {
    flex: 0 0 auto;
    width: 300px;
    padding: 20px;
    text-align: center;
    border: .2rem solid #111;
    background: #222;
    border-radius: 1rem;
    transition: transform 0.3s ease-in-out;
}

.ser-box:hover {
    border: .2rem solid #29d9d5;
}

i {
    font-size: 5rem;
    color: #29d9d5;
    margin-bottom: 2rem;
}

.services_world {
    font-size: 2rem;
    color: #fff;
}

.services_txt {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #aaa;
    line-height: 2;
}

.service_button {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.slide-buttons {
    margin-top: 20px;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #29d9d5;
    border: .2rem solid #29d9d5;
    border-radius: 5rem;
    cursor: pointer;
    background: none;
}

.slide-buttons:hover {
    background: #29d9d5;
    color: #111;
}

/* section_gallery */

.gallery {
    margin-top: 50px;
}

.gallery_Span {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #29d9d5;
    font-size: 2rem;
}

.gallery_title {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    color: #fff;
}

img {
    width: 100%;
    height: 200px;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.gallery_span {
    font-size: 1.4rem;
    color: #aaa;
}

.gallery_ice {
    margin-top: .5rem;
    font-size: 2rem;
    color: #fff;
}

/* .gallery .box_container {
    columns: 3 25rem;
    column-gap: 1.5rem;
}

.box {
    width: calc(100% - 40px); 
    max-width: 300px; 
    background-color: #2b232362;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: opacity 0.5s ease, transform 0.5s ease;
    margin-bottom: 1rem;
    break-inside: avoid;
}

img {
    width: 100%;
    height: 200px;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.gallery_span {
    font-size: 1.4rem;
    color: #aaa;
}

.gallery_ice {
    margin-top: .5rem;
    font-size: 2rem;
    color: #fff;
} */

.gal-box-container {
    display: flex;
    overflow-x: hidden;
    height: 270px;
    width: 100%;
    scroll-behavior: smooth;
}

.gal-box {
    flex: 0 0 auto;
    width: 250px;
    /* Adjust as needed */
    margin-right: 20px;
    transition: transform 0.3s ease-in-out;
}

.gal-box:hover {
    transform: scale(1.05);
    /* Hover effect */
}

.gallery_button {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.gal-slide-buttons {
    margin-top: 20px;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #29d9d5;
    border: .2rem solid #29d9d5;
    border-radius: 5rem;
    cursor: pointer;
    background: none;
}

.gal-slide-buttons:hover {
    background: #29d9d5;
    color: #111;
}

/* section_blogs */

.blogs {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin: auto;
}

.blog_Span {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #29d9d5;
    font-size: 2rem;
}

.blog_title {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    color: #fff;
}

/* .blogs .box-container {
    @include grid(32rem);

    .box {
        border-radius: 1rem;
        background: #222;
        overflow: hidden;
    }

    .image {
        height: 25rem;
        overflow: hidden;
        width: 100%;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    img:hover {
        transform: scale(1.1);
    }
} */

.blog-box-container {
    display: flex;
    overflow-x: hidden;
    width: 100%;
    scroll-behavior: smooth;
    /* Smooth scrolling */
}

.blog-box {
    flex: 0 0 auto;
    width: 250px;
    /* Adjust the width of the blog box */
    margin-right: 20px;
    transition: transform 0.3s ease-in-out;
}

.blog-box:hover {
    transform: scale(1.05);
    /* Hover effect */
}

.blog-button {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.blog-slide-buttons {
    margin-top: 20px;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #29d9d5;
    border: .2rem solid #29d9d5;
    border-radius: 5rem;
    cursor: pointer;
    background: none;
}

.blog-slide-buttons:hover {
    background: #29d9d5;
    color: #111;
}

.blog_content {
    padding: 2rem;
}

.link {
    font-size: 2rem;
    color: #fff;
}

.link:hover {
    color: #29d9d5;
}

.blog_txt {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #aaa;
    line-height: 2;
}

.blog_icon {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog_clock {
    font-size: 1.4rem;
    color: #aaa;
}

.blog_user {
    font-size: 1.4rem;
    color: #aaa;
}

.blog_clock,
.blog_user:hover {
    color: #29d9d5;
}

.fa-clock,
.fa-user {
    padding-right: .5rem;
    color: #29d9d5;
}

/* section_footer */

.footer {
    margin-top: 50px;
    margin: auto;

    .footer-box-container {
        @include grid(25rem);

        .footer-box {
            padding: 1rem 0;

            .footer_title {
                font-family: "Poppins", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 2.2rem;
                color: #fff;
                padding: 1rem 0;
            }

            .footer_txt {
                font-family: "Poppins", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 1.4rem;
                color: #aaa;
                padding: 1rem 0;
                line-height: 2rem;
            }

            .footer_info {
                font-family: "Poppins", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 1.4rem;
                color: #aaa;
                padding: 1rem 0;
                line-height: 2rem;
            }


        }
    }
}

.footer-box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
}

.footer-box {
    background: #222;
    border-radius: 1rem;
    padding: 3rem;
    text-align: center;
    border: .2rem solid #111;
    width: 300px;
}

.share {
    display: flex;
    justify-content: center;
}

.fa-facebook-f,
.fa-twitter,
.fa-instagram,
.fa-linkedin {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4rem;
    font-size: 2rem;
    border-radius: 50%;
    font-size: 1.7rem;
    border: .2rem solid #29d9d5;
    color: #29d9d5;
    margin-right: 2.5rem;
    text-align: center;
}

.links {
    font-size: 2rem;
    color: #aaa;
    padding: 1rem 0;
    display: block;
}

.links:hover {
    color: #29d9d5;
}

.fa-angles-right {
    padding-right: .5rem;
}

.fa-angles-right:hover {
    padding-right: 2rem;
    color: #29d9d5;
}

form .email {
    width: 100%;
    border-radius: 5rem;
    border: .2rem solid #29d9d5;
    background: none;
    font-size: 1.5rem;
    text-transform: none;
    color: #aaa;
    margin-bottom: 1rem;
    padding: 1.2rem 1.4rem;
}

.footer_btn {
    margin: auto;
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #29d9d5;
    border: .2rem solid #29d9d5;
    border-radius: 5rem;
    cursor: pointer;
    background: none;
    width: 70%;
}

.footer_btn:hover {
    background: #29d9d5;
    color: #111;
}

.credit {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #222;
    text-align: center;
    font-size: 15px;
    padding: 3rem 2rem;
    color: #aaa;
}

.author_name {
    color: #29d9d5;
}